
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.form_order{
    display: flex;
    margin: auto;
    width: 100vw;
    align-items: center;
    border: 1px solid black;
    margin-top: 10px;
    height: 14vh;
}

.container_input{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 0.8vw;
}

.container_input > input{
    width: 9vw;
}

.select_order{
    width: 12vw;
}

.container_botoes{
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.container_select_tabela{
    display: flex;
    align-items: center;
    background-color: rgb(21, 200, 21);
    height: 60px;
}

.select_tabela1{
    margin: auto;
    margin-left: 0.8vw;
}

.select_tabela1 > select{
    background-color: rgb(21, 200, 21);
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
}

.select_tabela2{
    margin: auto;
    margin-right: 0.8vw;
}

.select_tabela2 > select{
    background-color: rgb(21, 200, 21);
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
}